<body>
  <div class="panel panel-default" style="height:100%; margin-bottom: 0px">
    <div class="panel-heading"><h3 id="heading" class="panel-title">sdf</h3></div>
    <div class="panel-body">
  		<div class="toggleable" id="show"> 
        <!-- text element to be inserted by js -->
      </div>
      <div class="toggleable" id="edit">
        <div class="input-group">
          <span class="input-group-addon">Decipherable by:</span>
          <input type="text" class="form-control" id="contactsearch" placeholder="Name">
        </div>
        <br>
        <!-- text element to be inserted by js -->
      </div>
    	<input type="button" id="dismiss" class="btn btn-primary" value="Dismiss" style="margin-top: 10px"></input>
    </div>
  </div>
<div class="toggleable" id="error"></div>
<script src="../../lib/jquery.min.js"></script>
<script src="../../lib/jquery-ui-1.11.1.custom/jquery-ui.min.js"></script>
<link  href="../../lib/jquery-ui-1.11.1.custom/jquery-ui.min.css"></link>
<link  href="../../lib/jquery-ui-1.11.1.custom/jquery-ui.structure.min.css"></link>
<link  href="../../lib/jquery-ui-1.11.1.custom/jquery-ui.theme.min.css"></link>
<script src="../../lib/aes.js"></script>
<script src="../../lib/fuse.min.js"></script>
<script src="../../lib/jsencrypt.min.js"></script>
<script src="../../shared/cipher.js"></script>
<script src="../../shared/keyring.js"></script>
<script src="../../shared/enums.js"></script>
<script src="../../lib/mousetrap.min.js"></script>
<script src="../../lib/bootstrap.min.js"></script>
<link  href="../../lib/bootstrap.min.css" rel="stylesheet" type="text/css"></link>
<script src="view_sensitive_text.js"></script>
<style>
  body {
    padding:0px;
  }

  /*style the suggestion box*/
  ul.ui-autocomplete {
    border: 1px solid #999; background-color: #222; cursor: default; overflow: auto; width:0px;
  } /*                                                                                     ^box seems to expand to minimum acceptable width*/
  li.ui-menu-item {
    padding: 10px 5px; font-size: 1.2em; white-space: nowrap; overflow: hidden;
  }

</style>
</body>