<html>
  <head>
    <script src="../../lib/jquery.min.js"></script>
    <script src="../../lib/jquery.easing.1.3.js"></script>
    <script src="../../lib/bootstrap.min.js"></script>
    <link href="../../lib/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="../../lib/google-code-prettify/prettify.css" type="text/css" rel="stylesheet" />
    <script src="../../lib/jsencrypt.js"></script>
    <script src="../../shared/enums.js"></script>
    <script src="../../shared/cipher.js"></script>
    <script src="../../shared/utils.js"></script>
    <script src="../../shared/keyring.js"></script>
    <script type="text/javascript" src="../../lib/google-code-prettify/prettify.js"></script>
    <script src="setup.js"></script>
    <script src="setup-import.js"></script>
    <script src="setup-generate.js"></script>
    <script src="setup-name.js"></script>
    <title>OneLock Setup</title>
    <style>
      body {
        /*min-width: 357px;*/
        min-width: 307px;
        overflow-x: hidden;
        padding:20px;
      }
      textarea {
        height: 240px;
        width: 100%;
      }
      /*
      img {
        margin: 5px;
        border: 2px solid black;
        vertical-align: middle;
        width: 75px;
        height: 75px;
      } */
    </style>
  </head>
  <body>
<div id="navigation">
  <div>
    <div>
      <div class="btn-group" style="margin-left: 20px;position: fixed;margin-top: 20px;" >
        <button class="btn btn-default" id="backward"><span class="glyphicon glyphicon-chevron-left"></span></button>
        <button class="btn btn-default" id="forward"><span class="glyphicon glyphicon-chevron-right"></span></button>
      </div>
    </div>
  </div>
</div>
<!-- <div id="navigation" class="pull-left" style="margin-left:400px">
  <button class="btn btn-default"><span class="glyphicon glyphicon-chevron-left" id="backward"></span></button>
  <button class="btn btn-default"><span class="glyphicon glyphicon-chevron-right" id="forward"></span></button>
</div>
 --><h1 style="text-align:center">OneLock</h1>
<div id="methodPrompt" style="text-align:center">
<!-- <h1 style="text-align:center" > Setup </h1> -->
  <div class="panel panel-primary" style="display:inline-block;text-align:center">
    <div class="panel panel-heading"><h3 class="panel-title"> Setup </h3></div>
    <div class="panel panel-body" style="" >
    <p class="text-default">We need a key for you.</p> 
     <button class="btn btn-primary" id="generateBtn">Generate new key</button>
     <button class="btn btn-default" id="importBtn"  >Import openssl key</button>
    </div>
  </div>
</div>





<div class="container" id="importKey">
  <div class="row">
    <div class="col-md-12">
      <p class="text-info">To see how you can generate your own key in the terminal, click <a data-role="page" href="#" id="showHowTo">here</a></p>
      <bold class="status"></bold>
    </div>
  </div>
  <div class="row" id="terminalHowTo">
    <div class="col-md-12">
      <pre class="prettyprint" style="height:250px">
# generate private key
openssl genrsa -out PRIV_KEY.tmp 2048
# compute public key from private key
openssl rsa -pubout -in PRIV_KEY.tmp -out PUBL.KEY.tmp

# print keys
cat PRIV_KEY.tmp
cat PUBL.KEY.tmp

# clean up
rm PRIV_KEY.tmp
rm PUBL.KEY.tmp
      </pre>
    </div>
  </div> <!-- terminal how to -->
  <div class="row" style="" >
    <div class="col-md-6" >
      <div class="panel panel-primary" style="" >
        <div class="panel-heading">
          <h3 class="panel-title">A. Copy your private key here:</h3>
        </div>
        <div class="panel-body">
          <textarea id="private-key" zstyle="width:100%;height:100%"></textarea>    
        </div>
      </div>
    </div>
    <div class="col-md-6" >
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">B. Copy your public key here:</h3>
        </div>
        <div class="panel-body">
          <textarea id="public-key" zstyle="width:50%;height:300px"></textarea>    
        </div>
      </div>
    </div>
  </div> <!-- row -->
  <div class="row">
    <div class="col-md-1">
      <button class="btn btn-primary" id="import-next">Next<span class="glyphicon glyphicon-chevron-right"></span></button>
    </div>
    <x class="status"></x>
  </div>
</div>










<div id="generateKeyPage">
  <div style="text-align:center">
    <div class="panel panel-primary" style="display:inline-block">
      <div class="panel panel-heading">
        <h3 class="panel-title">Generating keys</h3>
      </div>
      <div class="panel panel-body">
        <p class="text-info" id="genstatus">Just a moment, please...</p>
        <button class="btn btn-primary done-generating" id="generate-next">Next<span class="glyphicon glyphicon-chevron-right"></span></button>
        <button class="btn btn-default done-generating" id="show-keys-btn">Show the key</button>
      </div>
    </div>
  </div>
  <div class="container" id="showKeys">
    <div class="row" style="" >
      <div class="col-md-6" >
        <div class="panel panel-default" style="" >
          <div class="panel-heading">
            <h3 class="panel-title">Your private key</h3>
          </div>
          <div class="panel-body">
            <p id="show-priv" style="word-wrap:break-word" >priv</p>
          </div>
        </div>
      </div>
      <div class="col-md-6" >
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Your public key</h3>
          </div>
          <div class="panel-body">
            <p id="show-pub" style="word-wrap:break-word"  >pub</p>
          </div>
        </div>
      </div>
    </div> <!-- row -->
  </div> <!-- container -->
</div>

<div id="name-prompt">
  <center>
    <div class="panel panel-primary" style="display:inline-block">
      <div class="panel panel-heading">
       <h3 class="panel-title">Setup</h3> 
      </div>
      <div class="panel panel-body">
        <p class="text-default">We need a name for you.</p><p class="text-info">This is how you'll show up in your buddies' contacts.</p>
        <input placeholder="Full name" class="form-control" id="name-input"></input><br>
        <div style="text-align:left">
          <button class="btn btn-primary" id="name-next">Next<span class="glyphicon glyphicon-chevron-right"></span></button>
        </div>
      </div>
    </div>
  </center>
</div>


<div id="all-done">
  <center>
    <div class="panel panel-success" style="display:inline-block">
      <div class="panel panel-heading">
        <h3 class="panel-title">Setup</h3>
      </div>
      <div class="panel panel-body">
        <p class="text-success">Congrats. You're good to go!</p>
        <div style="text-align:left">
          <button class="btn btn-success"><span class="glyphicon glyphicon-thumbs-up"></span> Cool</button>
        </div>
      </div>
    </div>
  </center>
</div>









  </body>
</html>