<html>
  <head>
    <script src="../../lib/jquery.min.js"></script>
    <script src="../../shared/enums.js"></script>
    <script src="../../lib/bootstrap.min.js"></script>
    <link href="../../lib/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="../../lib/google-code-prettify/prettify.css" type="text/css" rel="stylesheet" />
    <script type="text/javascript" src="../../lib/google-code-prettify/prettify.js"></script>
    <script src="setup.js"></script>
    <script src="setup-import.js"></script>
    <title>PGP surf settings</title>
    <style>
      body {
        /*min-width: 357px;*/
        min-width: 307px;
        overflow-x: hidden;
        padding:20px;
        margin:
      }
      /*
      img {
        margin: 5px;
        border: 2px solid black;
        vertical-align: middle;
        width: 75px;
        height: 75px;
      } */
    </style>
  </head>
  <body>

<div id="methodPrompt" style="text-align:center">
<!-- <h1 style="text-align:center" > Setup </h1> -->
  <div class="panel panel-success" style="display:inline-block;text-align:center">
    <div class="panel panel-heading"><h3 class="panel-title"> Setup </h3></div>
    <div class="panel panel-body" style="" >
    We need a key for you. <br><br>
     <button class="btn btn-primary" id="generateBtn">Generate new key</button>
     <button class="btn btn-default" id="importBtn"  >Import openssl key</button>
    </div>
  </div>
</div>





<div id="importKey">
  <p><bold class="status"></bold></p> 
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3>1. Encryption keys</h3>
      <div id="terminalHowTo">
        <pre class="prettyprint" style="width:40%;height:250px">
# generate private key
openssl genrsa -out PRIV_KEY.tmp 2048
# compute public key from private key
openssl rsa -pubout -in PRIV_KEY.tmp -out PUBL.KEY.tmp

# print keys
cat PRIV_KEY.tmp
cat PUBL.KEY.tmp

# clean up
rm PRIV_KEY.tmp
rm PUBL.KEY.tmp
        </pre>
      </div>
    </div>
    <div class="panel-body" id="encryptionkeys_body">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4>A. Copy your private key here:</h4>
        </div>
        <div class="panel-body">
          <textarea id="private-key" style="width:50%;height:300px"></textarea>    
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4>B. Copy your public key here:</h4>
        </div>
        <div class="panel-body">
          <textarea id="public-key" style="width:50%;height:300px"></textarea>    
        </div>
      </div>
    </div>
  </div> <!-- panel panel-default -->
  <input type="button" class="btn btn-success" value="Submit" ></input>
  <x class="status"></x>
</div>

  </body>
</html>