<html>
  <head>
    <script src="../../lib/jquery.min.js"></script>
    <script src="../../shared/enums.js"></script>
    <script src="../../lib/bootstrap.min.js"></script>
    <link href="../../lib/bootstrap.min.css" rel="stylesheet" type="text/css">
    <script src="options.js"></script>
    <title>OneLock Options</title>
    <style>
      /*body {
        min-width: 357px;
        min-width: 307px;
        overflow-x: hidden;
        padding:20px;
        margin:
      }*/
    </style>
  </head>
  <body>
    <center><h1> OneLock Options </h1></center>
    <center>
      <div class="panel panel-primary" style="display:inline-block;width:500px">
        <div class="panel panel-heading">
         <h3 class="panel-title"></h3> 
        </div>
        <div class="panel panel-body">
          What options?
          <br>
          <br>
          Hello, <span id="name">sdflkj</span>.
          <div id="setup-div">
          <br>
          <br>
          <button id="setup-btn" class="btn btn-primary">Launch setup</button>
          </div>
          <br>
          <br>
          <button id="clear" class="btn btn-danger">Clear storage</button>
        </div>
      </div>
    </center>

  </body>
</html>