<html>
<head>
  <script src="../../lib/jquery.min.js"></script>
  <script src="../../shared/utils.js"></script>
  <script src="../../shared/enums.js"></script>
	<script src="./add_contact.js"></script>
  <script src="../../lib/bootstrap.min.js"></script>
  <link href="../../lib/bootstrap.min.css" rel="stylesheet" type="text/css">
</head>
<body style="margin:20px">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">Add a contact</h3>
      <span id="status"></span>
    </div>
    <div class="panel-body">
      <input type="text" class="form-control" placeholder="Name" id="displayName"/>
      <br>
      <textarea class="form-control" style="width:100%;height:100px" placeholder"Paste key here"></textarea>
    </div>
    <input type="button" class="btn btn-primary form-control" value="Save"/>
  </div>
</body>
</html>

